@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black:		#101010;
	--green:		#65d962;
  	--light-green:	#a6dba5;
	--glass-black: rgba(30, 30, 30, 0.5);
}

html
{
	background-color: var(--black);
}

body {
  color:		white;
  background:	var(--black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.abstract-background
{
	background-image: url("./assets/auth_background.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.err-text
{
	width: 100%;
	background-color: lightpink;
	color: firebrick;
	font-weight: bold;
	padding: 0.5rem  1rem 0.5rem 1rem;
	margin-bottom: 0.5rem;
	text-align: center;
}
.success-text
{
	width: 100%;
	background-color:var(--light-green);
	color:var(--light-green);
	font-weight: bold;
	padding: 0.5rem  0 0.5rem 0;
	margin-bottom: 0.5rem;
	margin-top: 0;
	position: relative;
	bottom: 20px;
	text-align: center;
  }
  .offscreen
  {
  	position: absolute;
  	left: -9999px;
  }